* {
  box-sizing: border-box;
}

body {
  margin: 50px 50px 50px 100px;
  height: 300px;
  display: grid;
  grid-template-rows: auto 1fr;
}

h1 {
  color: darkslateblue;
  text-align: center;
  font-family: "Permanent Marker", cursive;
}

h3 {
  color: darkgreen;
  text-align: center;
}
header {
  font-size: 6vmin;
  padding: 1vmin;
  background-color: var(--accent-dark);
  color: white;
  text-align: center;
  letter-spacing: 0.5vmin;
}

main {
  display: block;
  height: 500px;
  width: 800px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: thistle;
}

aside {
  background-color: #a2b4da;
  grid-column: 1 / 3;
}

.gameBoard {
  display: flex;
  align-items: flex-start;
  align-content: space-between;
  justify-content: flex-start;
  background-image: url("/Users/ryannthompson/GA-main/code/catcall-karma-game-project/images/map-image.jpg");
  background-repeat: no-repeat;
  background-size: 500px 500px;
}

.flex-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.apartment {
  background-color: #a2cbb6;
  width: 80px;
  height: auto;
  margin-left:70px;
  margin-top: -15px;
}

#subway {
  display: flex;
  width: 50px;
  height: auto;
  margin-left: 100px;
  margin-top: -50px;
}

#timer {
  /* width: 50px;
  height: auto; */
  position: relative;
  left: 600px;
  top: 50px;
}

#health {
  position: relative;
  left: 600px;
  filter:invert(100%);
  -webkit-filter: saturate(40%)
}

#playerGirl {
  width: 25px;
  height: auto;
  position: relative;
    left: 149px;
    top: 406px;
  /* margin-left: -50px;
  margin-bottom: 50px;
  flex-direction: column; */
  
}
div.men img {
  display: flex;
  width: 15px;
  height: auto;
  filter:invert(100%);
  -webkit-filter: saturate(40%);
}

#man1 {
  margin-left: 181px;
  margin-bottom: 26px;
}

#man2 {
  margin-left: 182px;
  margin-bottom: 49px;
}

#man3 {
  margin-left: 140px;
  margin-bottom: 33px;
}

#man4 {
  margin-left: 145px;
  margin-bottom: 48px;
}

#man5 {
  margin-left: 182px;
  margin-bottom: 23px;
}

#man6 {
  margin-left: 148px;
  margin-bottom: 3px;
}








